# Move this file to .env
# Run get-scripts.sh to get the values
APPINSIGHTS_INSTRUMENTATIONKEY=your_instrumentation_key
TENANT_ID=your_tenant_id
CLIENT_ID=your_client_id
CLIENT_SECRET=your_client_secret
SUBSCRIPTION_ID=your_subscription_id
RESOURCE_GROUP=your_resource_group
RESOURCE_NAME=your_resource_name
WORKSPACE_ID=your_workspace_id
AZURE_STORAGE_CONNECTION_STRING=your_connection_string